.space-top{
    height: 110px;
}
#button-cadastrar:hover{
    background-color: skyblue;
    
}


@media screen and (max-width:600px) {
    .container-main{
       padding-left: 5%;
       padding-right: 5%;


       background-color: aqua;
    }
    
}